.good{
    position: relative;
    border:azure;
    border-radius:2%;
}

.goodImg{
    position: relative;
    width:25vw;
    height:30vw;
    text-align: center;
}

.goodImg img{
    width:250px;
    height:220px;
}