.good{
    position: relative;
    border-left: black 3px solid;
    padding: 0.105%;
}

.goodImg{
    position: relative;
    width:25vw;
    height:30vw;
    text-align: center;
}

.goodImg img{
    width:250px;
    height:220px;
}

.Buttons button:first-child {
    border-right: black 2px solid;
}