@media screen and (max-width: 1125px)and (min-width: 1000px){
    .CartGood .cartgood .bbuttons {
        display: inline-block;
        width: 200px;
        bottom: 73px;
        left: 26%;
        position: relative;
    }

    .CartGood  .cartgood {
        height: 16vw;
    } 
}
@media screen and (max-width: 999px)and (min-width: 920px){
    .CartGood .cartgood .bbuttons {
        display: inline-block;
        width: 200px;
        bottom: 73px;
        left: 20%;
        position: relative;
    }

    .CartGood .cartgood {
        height: 20vw;
    }
}

@media screen and (max-width: 919px)and (min-width: 830px){
    .CartGood .cartgood .bbuttons {
        display: inline-block;
        width: 200px;
        bottom: 73px;
        left: 12%;
        position: relative;
    }

    .CartGood .cartgood {
        height: 24vw;
    }
}


    

@media screen and (max-width: 1100px)and (min-width: 780px){
    .Text {
        left: 51px;
        top: 16%;
        position: absolute;
        /* padding-top: 6%; */
        /* padding-bottom: 4%; */
        height: fit-content;
        display: flex;
        /* border-radius: 15%; */
        border-color: azure;
        width: 90%;
    }
    
    .SearchEngine {
        padding-left: 2%;
        border-radius: 20px 0px 0px 20px;
        border: none;
        width: 84vw;
        height: 3vw;
    }
    
    
    
    
    .button_search {
        border-radius: 0px 20px 20px 0px;
        background: white;
        text-align: center;
        border: rgba(202, 252, 68, 0.1);
        /* margin-left: 1vw; */
        width: 3vw;
        border-left: black 2px solid;
    }
    
    button.button_search span {
        font-size: 20px;
        left: -3px;
        position: relative;
    }
    
    .body_body div.Footer {
        width: 86vw;
    }
    
    .categories ul li button {
        height: fit-content;
        width: 17vw;
    }
    
     body * {
        font-size: 17px;
    }

    .Goods .good .goodImg {
        position: relative;
        width: 180px;
        height: 150px;
        /* text-align: center; */
        padding-left: 0%;
    }


  
    
}

