*{
    font-family: 'Comfortaa', cursive;
    font-size: 19px;
}



.MainBlock{
    display:flex;
}


.categories ul li{
    list-style-type: none;
    cursor:pointer;
}

/* .categories ul li{
    transform: rotate3d(1, 1, 1, 45deg  );  
    
} */

.Goods{
    display:flex;
    padding: 4%;
}

button{
    border:none;
    background: transparent;
    cursor: default;
}

button:hover{cursor: pointer;}

.categories {
    padding-right: 5%;
    padding-top: 3%;
    /* border-right: black 2px solid; */
}

.categories ul li button {
    height: 3vw;
    width: 17vw;
}

.categories ul li h3 {
    text-align: center;
}


.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }