*{
    font-family: 'Comfortaa', cursive;
    font-size: 19px;
}

/* . div{
    background-color: rgba(202, 252, 68, 0.6);
} */


.button_search{
    border-radius: 0px 20px 20px 0px;
    background: white;
    text-align: center;
    border: rgba(202, 252, 68, 0.1);
    /* margin-left: 1vw; */
    width: 3vw;
    border-left: black 2px solid;
}

.Top_Buttons  input[type=button], .Here{
    /* background: white; */
    background: transparent;
    padding: 1%;
    text-align: center;
    border: rgba(202, 252, 68, 0.1);
}

.First input{
    width: 30vw;
}

.Second div input{
    width: 45vw;
}



div.Top{
    width:90vw;
}

.TopNameAndSearch{
   display:flex; 
   margin-left: -1%;
}
/* 
p.ShopName {
    position:relative;
    width: 22vw;
    font-size: 56px;
    text-align: left;
    letter-spacing: 6px;
    font-style: oblique;
    font-weight: 1000;
    color:black;
    animation:
        MyAnimation3b 8s infinite;
} */

p.ShopName {
    position: relative;
    width: 22vw;
    margin-left: -0.8vw;
    font-size: 61px;
    text-align: left;
    letter-spacing: 6px;
    font-style: oblique;
    font-weight: 1000;
    color: black;
    animation: MyAnimation3b 8s infinite;
}

p.ShopNameBackGround {
    opacity: 1.5;
    z-index: -11;
    position: absolute;
    /* width: 32vw; */
    font-size: 59px;
    text-align: left;
    letter-spacing: 6px;
    font-style: oblique;
    font-weight: 1000;
    color: white;
}
 
@keyframes MyAnimation3b{

    from { color: black; }
    17% {color:red;}
    27% {color:orange;}
    37% {color:yellow;}
    47% {color:green;}
    57% {color:rgba(2, 221, 236, 0.911);}
    67% {color:blue;}
    77% {color:purple;}
    87% {color:fuchsia;}
    97% {color:lime;}
    to { color: maroon; }

} 

.SearchEngine{
        padding-left: 2%;
        border-radius: 20px 0px 0px 20px;
        border: none;
        width: 45vw;
        height: 3vw;
    
}
.Text{
    left: -17px;
    position: relative;
    padding-top: 6%;
    padding-bottom: 4%;
    height: fit-content;
    display: flex;
    border-radius: 15%;
    border-color: azure;
    width: 58vw;
}

.Top_Buttons.First {
    border-bottom: black 2px solid;
    width: 90vw;
}


.Top_Buttons.First input:first-child {
    border-right: black 2px solid;
}

.Top_Buttons.First input:last-child {
    border-left: black 2px solid;
}

.Top_Buttons.Second input:first-child {
    border-right: black 2px solid;
}


.account {
    border-radius: 20px;
    background: white;
    width: 20vw;
    position: relative;
    padding: 2%;
}

.Butt{
    border-radius: 32px;
    width:90vw;
    background: white;
}


.JustLikeThat {
    /* width: 110vw; */
    position: absolute;
    top: 4%;
    left: 74.5%;
}

.account p {
    text-align: center;
}

span.material-icons.Light {
    /* text-align: center; */
    font-size: 50px;
}

input.Here {
    font-size: 17px;
    top: 5%;
    left: 69%;
    position: absolute;
}


.Top_Buttons.Third {
    text-align: center;
}