.IsGoingToBeDeleted{
    transition-property: height;
    transition-duration: 1s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    overflow: hidden;
    border-top:black 3px solid;
    height: 186px;
}



.IsGoingToBeDeleted:first-child{
    border:none;
}

.IsGoingToBeDeleted .goodImg {
    position: relative;
    padding: 0;
    /* width: 174px; */
    /* height: 150px; */
    /* text-align: center; */
    /* padding-left: 9%; */
    display: inline-block;
}

.IsGoingToBeDeleted .Cost {
    display: inline-block;
    width: 250px;
    /* padding-top: 3px; */
    bottom: 8px;
    position: relative;
}

.IsGoingToBeDeleted .bbuttons {
    display: inline-block;
    width: 200px;
    bottom: 73px;
    left: 45%;
    position: relative;
}



#deleteItWish{
    height:0px;
    animation: MyAnimation;
}

@keyframes  MyAnimation{
    from {height:150px;}
    to {top: 0px;}
  }:first-child{
    border:none;
}


.Buttons.Top_Buttons .List input:first-child {
    border-right: black 2px solid;
}.Buttons.Top_Buttons input:first-child {
    border-right: black 2px solid;
}